@import 'color';
@import 'typography';
@import 'mixins';
@import 'grid';
@import 'room';
@import 'rework';
@import 'header';
@import 'carousel';


* {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden;
  margin: 0;
  font-family: $font1, $font_secondary;
}

p,
span {
  font-size: 2.5rem;
  color: $prim;
}

.container > p {
  font-size: 1.75rem;

  @include screen(xxlarge){

    font-size: 3rem;
    padding: 4%;
    margin-top: 2%;
  }

}

.custom--card-description {
  display: flex;
  gap: .5em;
  flex-direction: column;
  background-color: #f5f5f5;
  color: #212121;
  height: 20%;
  bottom: 0;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 1rem;
  align-items: center;
  justify-content: center;
  width: 100%;

  @include screen(small) {
    border-radius: 0;
  }

  @include screen(med-small) {
    border-radius: 0;
    display: block;
  }

  @include screen(med) {
    width: 100%;
    @include opacity-background (0.3);
  }

  @include screen (xxlarge){
    width: 100%;
    @include opacity-background (0.3);
    height: 12%;
    flex-direction: initial;
  }

} 

iframe {
  @include screen(small) {
    max-width: 90vw;
    min-width: 50%;
  }
}

main>div>div>p {
  font-size: 2rem;

  @include screen(small) {
    font-size: 1.6rem;
    margin: 0 auto;
  }
}

.container-xxl {
  width: auto;

  @include screen(small) {
    margin: 0 auto;
    width: auto;
  }

  @include screen(med-small) {
    margin: 0 auto;
    width: auto;
  }

  @include screen(med) {
    margin: 0 auto;
    width: auto;
  }
}

main>div:nth-of-type(2) {
  background-color: $background;
  margin-top: 15px;
  padding-bottom: 10px;

  h2 {
    font-size: 3rem;
    padding-bottom: 1%;
  }
}

a {
  font-size: 1rem;
  text-decoration: none;
  @include testy;
}


main>div>img {
  width: 75vw;
  height: auto;
  object-fit: cover;

  @include screen(small) {
    position: relative;
    width: 86vw;
    height: auto;
    border-radius: 2px;
    margin-left: 7.5%;
  }

  @include screen(large) {
    position: relative;
    border-radius: 2px;
    margin-left: 17.5%;
  
  }

  @include screen(xxlarge){
    position: relative;
    border-radius: 2px;

@include center(50%);

  }
}

header>nav>.navbar-brand {
  font-size: 2rem;
  color: $prim;
  margin: 1%;

  @include screen (xxlarge){
    font-size: 3rem;
  }
}

header>nav>.navbar-brand:hover {
  font-size: 2rem;
  color: $pc2;
  border-radius: 10px;
  border-color: $pc1;
  background-color: $complementary;
  box-shadow: $pc1 1px 2px;

  @include screen (xxlarge){
    font-size: 3rem;
  }

}

/* speficicno samo jedan div styling */
#coverRight {
  width: 33vw;
  height: 47vh;
  background-color: $complementary;
  opacity: 1;
  position: absolute;
  right: 33px;
  top: 70vh;
  z-index: 10;
  border: 0.1px solid;
  box-shadow: 1px 1px 1px rgb(229, 245, 245);
  text-align: center;
  padding: 35em 20px;

  div {
    padding: 10px;
  }

  span {
    font-size: 1.5rem;
    color: $prim;
    font-weight: 700;
  }

  @include screen(small) {

    top: 19%;
    position: relative;
    width: 90vw;
    height: 16vh;
    margin: 0 auto;
    background-color: lightgoldenrodyellow;
    border: none;
    box-shadow: none;
    margin-top: -15px;
    text-align: center;
    padding: 2% 5px;
    z-index: -1;
    right: 0;

    div {
      padding: 20px;
      margin-left: 5%;
    }

    span {
      color: $prim;
      font-size: 1.5rem;
    }
  }

  @include screen(med-small) {
    height: 34%;
    max-height: 360px;

    padding: 20px 2px;
    top: 340px;
    width: 26%;
    max-width: 390px;


    span {
      font-size: 1.6rem;
    }
  }

  @include screen(med) {
    height: 40%;
    max-height: 390px;

    padding: 20px 2px;
    top: 380px;
    width: 30%;
    max-width: 390px;

    span {
      font-size: 1.8rem;
    }
  }

  @include screen(large) {

    top: 60%;
    position: relative;
    width: 100%;
    height: 12vh;
    margin: 0 auto;
    background-color: lightgoldenrodyellow;
    border: none;
    box-shadow: none;
    margin-top: 15px;
    text-align: center;
    padding: 1% 5px;
    z-index: -1;
    right: 0;
    overflow-y: hidden;

    div {
      padding: 10px;
      margin-left: 5%;
    }

    span {
      color: $prim;
      font-size: 1.5rem;
    }
  }

  @include screen(xxlarge){
    opacity: 0;
    position: fixed;
  }
}

.lokacija {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 4%;
}

header {
  background-color: white;
  padding-bottom: 1%;
}

main {
  margin-top: 2%;
}

.navbar {
  background-color: white;
}

nav {
  margin-bottom: 10vh;
}

nav>a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: $prim;
}



.headline {
  width: 98vw;
  margin: 0 auto;
  text-align: center;
  margin-top: 7vh;

  p, span {
    font-size: 4rem;
  }

  @include screen(small) {
    width: 90vw;
  }

  @include screen(med-small) {
    width: 90vw;
  }

  @include screen(med) {
    width: 90vw;
  }
}

.room--info {
  padding: 5px;

  h4 {
    font-size: 2.2rem;

    @include screen(small) {
      font-size: 2rem;
    }
  }
}

.room--features {
  display: flex;
  flex-wrap: wrap;

  padding-top: 5px;

  @include screen(small) {
    min-width: 100px;
    padding-top: 1px;
    justify-content: center;
  }

  span {
    background-color: $room--features--color;

    border: 1px solid #333;
    border-radius: 5px;

    font-size: 1.5rem;
    margin: 1%;
    margin-top: 2%;
    padding: 2%;

    @include screen(small) {
      font-size: 1.2rem;
      padding: 0.5%;
    }

    @include screen(med) {
      font-size: 1.2rem;
      padding: 0.5%;
    }

    @include screen(med-small) {
      font-size: 1.2rem;
    }
  }
}



footer {
  position: absolute;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background: $pc2;
  height: auto;
  width: 100vw;
  padding-top: 20px;
  color: $prim;
  display: flex;
  flex-direction: column;
}

#kontakt>h2 {
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.fa-window-close {
  color: royalblue;
  font-size: 4rem;

}

.fa-window-close:hover {
  cursor: pointer;
  color: gray;
}

.modal-body {
  background-color: gainsboro;
}

.modal-sm {
  max-width: 600px;
}


/* Media queries */
/* -------------------------------------------------------------- */
@media screen and (max-width: 600px) {

  /* NavBar */
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
    /*  */
  }

}

@media screen and (max-width: 600px) {

  /* NavBar */
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    /*  */
  }

}


/* Cards styling */

.cards--container {
  background-color: $room--container--bg--color;
  display: flex;
  flex-direction: column;
  margin: 3%;
  height: auto;
}

.card {
  display: flex;
  flex-direction: row;
  margin: 1% 0;
  width: 75vw;
  align-self: center;
  height: auto;

  @include screen(small) {
    justify-content: center;
  }
}

.cardy {
  width: 28vw;
  padding: 8px;

  @include screen(small) {
    width: 20px;
    background-color: $complementary;
    opacity: 0.7;
    display: none;
  }

  .card--img {
    @include screen(small) {
      display: none;
    }
  }
}

.card--img {
  float: left;
  display: block;
  margin: 0 auto;
  width: 90%;

  @include screen(small) {
    display: none;
  }

  @include screen(med-small) {
    min-width: 130px;
  }
}

h4 {
  font-family: $font1, $font_secondary;
  margin: 1%;
  width: 100%;

  /* Ovdje staviti da je tekst podcrtan!  */
  /* Boja underline-a neka sivkasta ( ili slicno) */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: $text-underline-clr;
}

h4:hover {
  display: inline-block;
  position: relative;
  color: #0087ca;
  cursor: pointer;
}

h4:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

h4:hover:after {
  /*   transform: scaleX(0.75); */
  transform: scaleX(1);
  transform-origin: bottom left;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

/* Rules list formatted*/
#rules>ul {

  li {
    display: inline-block;
    font-size: 1.5rem;
    margin-right: 15px;

  }

  li::after {
    content: "|";
    margin-left: 15px;
  }

  li:last-child::after {
    content: "";

  }

}

#rules>p {
  margin-left: 20px;
  font-size: 1.8rem;
}

/* Google icons styling part */

.material-icons.md-48 {
  font-size: 48px;
}

.material-icons.md-24 {
  font-size: 24px;
}

/* Footer part */

footer {
  width: 100%;
  /*   background-color: #263238; */
  min-height: 250px;
  padding: 10px 0px 25px 0px;
}

.pt2 {
  padding-top: 40px;
  margin-bottom: 20px;
}

footer p {
  font-size: 13px;
  /*   color: #CCC; */
  padding-bottom: 0px;
  margin-bottom: 8px;
}

.mb10 {
  padding-bottom: 15px;
}

.footer_ul_amrc {
  margin: 0px;
  list-style-type: none;
  font-size: 14px;
  padding: 0px 0px 10px 0px;
}

.footer_ul_amrc li {
  padding: 0px 0px 5px 0px;
}

.footer_ul_amrc li a {
  color: #CCC;
}

.footer_ul_amrc li a:hover {
  color: #fff;
  text-decoration: none;
}

.fleft {
  float: left;
}

.padding-right {
  padding-right: 10px;
}

.footer_ul2_amrc {
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}

.footer_ul2_amrc li p {
  display: table;
}

.footer_ul2_amrc li a:hover {
  text-decoration: none;
}

.footer_ul2_amrc li i {
  margin-top: 5px;
}

.bottom_border {
  border-bottom: 1px solid #323f45;
  padding-bottom: 20px;
}

.foote_bottom_ul_amrc {
  list-style-type: none;
  padding: 0px;
  display: table;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}

.foote_bottom_ul_amrc li {
  display: inline;
}

.foote_bottom_ul_amrc li a {
  color: #999;
  margin: 0 12px;
}

div>div>span {

  font-size: 1.75rem;
  background-color: $test--color--bg;
}

.row{
  width: 100%;
  margin: 0 auto;
}


.ch-2 {
  color: $prim;
  font-size: 3.7rem;
}


// fancy  card s neta: promjeniti

.custom--card {
  height: 254px;
  width: 190px;
  position: relative;
  transition: all 0.5s cubic-bezier(0.7, 0.05, 0.4, 1);
  overflow: hidden;
  padding: 20px;

  @include screen(small) {
    width: 90vw;
    height: auto;
  }

  @include screen(med-small) {
    max-width: 600px;
    height: 380px;
  }

  @include screen(med) {
    max-width: 600px;
    padding: 10px;
  }

  @include screen(large) {
    height: 380px;
    display: flex;
    flex-direction: column;
  }

  @include screen(xxlarge) {
    height: 500px;
    display: flex;
    flex-direction: column;
  }
}

/*Image*/
.custom--card-image {
  height: 100%;
  width: 100%;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  background: #0a3394;
  background: linear-gradient(to top, #0a3394, #4286f4);
  overflow-y: hidden;

  @include screen(small) {
    width: auto;
    margin: 0 auto;

  }

  @include screen(med-small) {
    height: fit-content;
  }

/*   @include screen(med) {
    display: block;
    width: 100px;
  } */

  @include screen(large) {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    background: transparent;
  }

  @include screen(xxlarge) {
    height: auto;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    background: transparent;
  }

  img {
      object-fit: contain;
    width: auto;
    height: 100%;


    @include screen(small) {
      height: auto;
      width: 100%;
      margin: 0 auto;
    }

    
    @include screen(med-small) {
      height: auto;
      width: 100%;
      margin: 0 auto;
    }

    @include screen(med) {
      height: auto;
      width: 100%;
      margin: 0 auto;
    }

    @include screen(xxlarge) {
      height: auto;
    }
  }
}

.custom--text-body {
  font-size: 2rem;
  text-align: center;
  @include strong--text--color($second);
  @include screen(small) {
    transform: none;
    font-size: 1.5rem;
    overflow-y: hidden;
    width: auto;
  }

}

.custom--card:hover .custom--card-description {
  transform: translateY(100%);

  @include screen(small) {
    transform: none;
  }
  @include screen(large) {
    transform: translateY(-25px);
  }  @include screen(xxlarge) {
    transform: translateY(-25px);
  }
  @include screen(xxlarge) {
    transform: none;
  }
}

.custom--row {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  @include screen(2000) {
    .custom--row {
      flex-direction: column;
      align-items: center;
    }
    .custom--row>* {
      display: none;
    }
  }
}

.custom--row>div {
  margin: 0;

}

.custom--row>* {
  padding: 15px;
  flex: 1;
  background-color: rgba(86, 61, 124, .15);
  border: 1px solid rgba(86, 61, 124, .2);

}

.one-half {
  width: calc(100% * 1/2);
  flex: none;
}

.two-thirds {
  width: calc(100% * 2/3);
  flex: none;
}

@media (max-width: 600px) {
  .custom--row {
    flex-direction: column;
    align-items: center;
  }
  .custom--row>* {
    width: 100%;
  }
  .custom--row>div {
    margin: 0px -5px 0px -5px;
  }
}

@include screen(med-small) {
  .custom--row {
    flex-direction: column;
    align-items: center;
  }
  .custom--row>* {
    width: 100%;
  }
  .custom--row>div {
    margin: 0px -5px 0px -5px;
  }
  @include screen(large) {
    .custom--row {
      flex-direction: column;
      align-items: center;
    }
}

.map {
  flex-shrink: 0;
}
}

/* TEST */


/* COLUMN CLASS */

.column {
  box-sizing: border-box;
/*   width: 100%; */
  padding: 15px;
  float: left;
  max-height: 40%;
}

/* Responsive column classes */
@media (min-width: 576px) {
  .column-sm {
    width: 50%; /* 2 columns on small screens */
  }
}

@media (min-width: 768px) {
  .column-md {
    width: 33.333%; /* 3 columns on medium screens */
  }
}

@media (min-width: 992px) {
  .column-lg {
    width: 25%; /* 4 columns on large screens */
  }
}

@media (min-width: 1200px) {
  .column-xl {
    width: 20%; /* 5 columns on extra-large screens */
  }
}